TWITTER_USERNAME=
TWITTER_PASSWORD=

INSTANCE_RSS_PASSWORD=
INSTANCE_WEB_USERNAME=
INSTANCE_WEB_PASSWORD=

INSTANCE_TITLE=Custom title
INSTANCE_THEME=Twitter Dark
INSTANCE_INFINITE_SCROLL=1
INSTANCE_HOSTNAME=

TS_AUTHKEY=tskey-auth

TWITTER_HANDLE=
MASTODON_HOST=
MASTODON_CLIENT_ID=
MASTODON_CLIENT_SECRET=
MASTODON_ACCESS_TOKEN=
BSKY_HANDLE=
BSKY_PASSWORD=
